.toggle-handle{
    background:#fff;
}
/*processbar css start*/
.skill h5 {
    margin-bottom: 20px
}

#skills .skill .progress {
    overflow: visible;
    background-color: #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 10px;
}

    #skills .skill .progress .progress-bar {
        background-color: #498bfc;
        position: relative;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }

        #skills .skill .progress .progress-bar .percent {
            position: absolute;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            text-align: center;
            background-color: #d61f29;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            top: -15px;
            right: -20px;
            font-size: 16px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

#skills .skill + .skill {
    margin-top: 35px;
}
/*processbar css end*/

